<div class="p-8">
  <div class="flex felx-col items-center justify-center">
    <span
      class="rounded-full bg-indigo-500 px-2 py-1 text-white uppercase text-sm"
    >
      Application Services
    </span>
  </div>
  <h1 class="text-4xl font-medium text-gray-700 text-center mt-6">
    What can image-to-sketch offer
  </h1>
</div>

<div class="grid grid-cols-1 md:grid-cols-3">
  <div class="p-8">
    <div
      class="bg-indigo-100 rounded-full w-16 h-16 flex justify-center items-center text-indigo-500 shadow-2xl"
    >
      <i class="fa-solid fa-plus"></i>
    </div>
    <h2 class="uppercase mt-6 text-indigo-500 font-medium mb-3">
      Convert any image to sketch
    </h2>
    <p class="font-light text-sm text-gray-500 mb-3">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit quas
      tenetur voluptatem quae eaque similique distinctio ipsa vel ullam ex?
    </p>
  </div>

  <div class="p-8">
    <div
      class="bg-green-100 rounded-full w-16 h-16 flex justify-center items-center text-green-500 shadow-2xl"
    >
      <i class="fa-solid fa-list"></i>
    </div>
    <h2 class="uppercase mt-6 text-green-500 font-medium mb-3">
      List all sketchs and download it
    </h2>
    <p class="font-light text-sm text-gray-500 mb-3">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum cum,
      explicabo sint tenetur ex quod eius illum minima dolorum optio!
    </p>
  </div>
  <div class="p-8">
    <div
      class="bg-red-100 rounded-full w-16 h-16 flex justify-center items-center text-red-500 shadow-2xl"
    >
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>
    <h2 class="uppercase mt-6 text-red-500 font-medium mb-3">
      Search for your favorite sketch
    </h2>
    <p class="font-light text-sm text-gray-500 mb-3">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae dolorem
      obcaecati, illum at sed sequi dolores repudiandae ut dolore iure?
    </p>
  </div>
</div>
