{% extends 'main.html' %}

{% block title %} Image-To-Sketch {% endblock %}

{% block content %}
<h1 class="text-center mt-10 text-4xl text-black">All Sketchs</h1>
<div class="text-center mt-8">
    <span><a class="text-red-800" href="/sketchs/search">Search for specific sketch</a></span>
</div>
<div
  class="grid justify-center md:grid-cols-2 lg:grid-cols-3 gap-5 lg:gap-7 my-10"
>
  <div
    class="bg-white rounded-lg border shadow-md max-w-xs md:max-w-none overflow-hidden"
  >
    <img
      class="h-56 lg:h-60 w-full object-cover"
      src="https://images.unsplash.com/photo-1523289217630-0dd16184af8e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8d29tZW4lMjBlbXBvd2VybWVudHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
      alt=""
    />
    <div class="p-3">
      <span class="text-sm text-primary">November 19, 2022</span>
      <h3 class="font-semibold text-xl leading-6 text-gray-700 my-2">
        Goku Sketch
      </h3>
      <p class="paragraph-normal text-gray-600">
        Author: Lorem Impsum
      </p>
      <div class="text-center">
        <a class="mt-3 block" href="#">Detail</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}